# 빌드
**/Build/*
**/Output/*

# Visual Studio
*.user
.vs/

# Cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Clion
**/.idea/*

# Go
/suseong-html-analyzer
/scan
*.test
/coverage.out
/coverage.html